<mat-toolbar color="primary">Voltaic Card Saver</mat-toolbar>

<div class="container">
  <!-- Content here -->
  <br>
  <br>
  <div class="row">
    <div class="col-6">
      <mat-card>
        <form class="example-form">
          <mat-form-field class="example-full-width width100">
            <input matInput placeholder="Name on Card">
          </mat-form-field>
          <mat-form-field class="example-full-width width100">
            <input matInput placeholder="Card Number">
          </mat-form-field>
          <div class="row">
            <div class="col-4">
              <mat-form-field class="example-full-width width100">
                <input matInput placeholder="Expiry Date">
              </mat-form-field>
            </div>
            <div class="col-5">

            </div>
            <div class="col-3">
              <mat-form-field class="example-full-width width100">
                <input matInput #postalCode maxlength="3" placeholder="CVV">
                <mat-hint align="end">{{postalCode.value.length}} / 3</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
